/* stylelint-disable indentation */

/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #012bb3;
  --secondary-color: #c93042;
  --terciary-color: #882f68;
  --cute-color: #6277bb;
  --placeholder-gray: #ccc;
  --subtitle-color: #405161;
  --action-color: #284ab6;
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
}

/* @define-mixin flex-center $justify: center, $align: center {
  display: flex;
  justify-content: $justify;
  align-items: $align;
} */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Estilos especificos */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}

.logo {
  max-width: 50px;
  margin-top: 5px;
}

.flex {
  display: flex;
}

.contact-link {
  font-family: var(--text-font);
  font-size: 1.125rem;
  color: var(--main-color);
  align-self: center;
  font-weight: 900;
  transition: all 200ms;
  margin-right: 0.75rem;
}

.contact-link:hover {
  border-bottom: 2px solid var(--subtitle-color);
}

.btn {
  font-size: 1.125rem;
  font-family: var(--text-font);
  border: 2px solid var(--action-color);
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 32px;
  transition: all 200ms;
}

form .btn {
  margin-top: 1rem;
}

.btn:hover {
  background-color: var(--action-color);
}

.btn a {
  color: var(--action-color);
}

.btn a:hover {
  color: #fff;
}

.hero-section {
  border-top: 1px solid var(--placeholder-gray);
  padding: 1rem;
  background: linear-gradient(
    145deg,
    #fff 46%,
    var(--action-color) 46% 47%,
    #fff 47% 100%
  );
}

.hero-text {
  margin: 1rem;
  margin-bottom: 2rem;
  color: var(--subtitle-color);
  text-align: center;
}

.hero-title {
  font-family: var(--title-font);
  font-size: 1.75rem;
  margin: 0;
}

.hero-subtitle {
  margin-top: 2rem;
  font-family: var(--text-font);
  font-size: 1.15rem;
}

.form-container {
  border: 2px solid #fff;
  /* stylelint-disable-next-line color-function-notation */
  box-shadow: 2px 2px 20px #c7c7c7;
  border-radius: 8px;
  padding: 1.5rem;
  font-family: var(--text-font);
  background-color: #fff;
}

label {
  font-size: 14px;
}

input,
textarea {
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.input {
  border-radius: 5px;
  border: 2px solid var(--main-color);
  line-height: 1.5rem;
  padding-left: 4px;
  width: 100%;
}

.conditions-link {
  color: var(--cute-color);
}

.info-contenedor {
  background-color: var(--secondary-color);
  padding: 1rem;
}

.card-container {
  width: 95%;
  margin: 0 auto;
}

.card-value {
  margin: 1rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.25rem;
  text-align: center;
}

.card-title {
  font-family: var(--title-font);
  font-weight: bold;
  margin-top: 1rem;
}

.card-text {
  font-family: var(--text-font);
}

.product-section {
  background: linear-gradient(145deg, var(--terciary-color) 60%, #fff 60% 100%);
}

.product-container {
  width: 95%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.card-product {
  border-radius: 8px;
  background-color: #fff;
  margin-top: 1rem;
}

/* .card-product + .card-product {
  margin-left: 2rem;
} */

.product-img {
  width: 30%;
  height: 35%;
  align-self: center;
  border-radius: 8px;
  margin: 8px;
}

/* .product-row {
  justify-content: center;
  align-items: center;
} */

/* .card-product + .card-product {
  margin-top: 2rem;
} */

.product-description {
  padding: 1rem;
  font-family: var(--text-font);
  background-color: #f3f3f3;
  border-radius: 0 8px 8px 0;
}

.product-title {
  font-family: var(--title-font);
  margin: 0;
  font-size: 1em;
}

.product-text {
  font-size: 14px;
}

/* seccion donde encontrarnos */

.social-container {
  background-color: #f3f3f3;
  padding: 1rem;
}

.rrss-container {
  margin: 1rem;
  margin-bottom: 2rem;
}

.title-contact {
  font-family: var(--title-font);
  color: var(--subtitle-color);
  font-size: 1.75rem;
  text-align: center;
  margin: 1rem;
}

.icon-container {
  margin: 0 auto;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.rrss-icon {
  font-size: 2.5rem;
  color: var(--main-color);
}

.contact-container {
  padding-bottom: 1rem;
  justify-content: space-evenly;
  margin: 1rem;
}

.contact-icon {
  color: var(--action-color);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.list-contact {
  list-style: none;
  line-height: 3.5rem;
  font-family: var(--text-font);
  font-size: 1rem;
  padding: 1rem;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  border: 1px solid var(--placeholder-gray);
  border-radius: 8px;
  height: 30vh;
  box-shadow: 2px 2px 10px #c7c7c7;
}

footer {
  padding: 1rem;
}

.footer-container {
  background-color: var(--action-color);
}

.link-container {
  background-color: var(--action-color);
  border-radius: 8px;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-flex a {
  padding-left: 1rem;
}

.footer-title {
  color: #fff;
  font-family: var(--title-font);
  margin-left: 1rem;
}

.footer-rights {
  font-family: var(--text-font);
  color: #fff;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 14px;
}

.footer-list {
  list-style: none;
  text-align: center;
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}

.footer-link {
  margin-bottom: 0.5rem;
}

.footer-link a {
  color: #fff;
}

hr {
  display: none;
}

.footer-flex a img {
  width: 25px;
  height: 25px;
}

// Media query

@media (min-width: 550px) {
  .form-container {
    width: 70%;
    margin: 0 auto;
  }

  .list-contact {
    text-align: center;
  }
}

@media (min-width: 700px) {
  .hero-section {
    background: linear-gradient(145deg, #fff 46%, var(--action-color) 46% 100%);
  }

  .hero-subtitle {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .form-container {
    width: 50%;
    margin: 0 auto;
  }

  .contact-container {
    display: flex;
  }

  .link-container {
    width: 30%;
  }
}

@media (min-width: 900px) {
  .hero-section {
    display: flex;
    justify-content: space-around;
  }

  .hero-text {
    margin-top: 2.5rem;
    width: 50%;
  }

  .hero-subtitle {
    margin-top: 2rem;
  }

  .form-container {
    width: 30%;
    margin: 4rem 0 2rem;
  }

  .card-container {
    display: flex;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card-product {
    margin: 0.75rem;
  }

  .product-img {
    height: 95%;
    width: 40%;
  }

  .rrss-container {
    display: flex;
    align-items: center;
  }

  .title-contact {
    width: 60%;
    text-align: left;
    margin-left: 0;
  }

  hr {
    display: block;
    margin-bottom: 2rem;
  }

  .list-contact {
    text-align: left;
  }

  .rrss-container,
  .contact-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .map {
    width: 400px;
  }

  .link-container {
    display: flex;
    width: 70%;
    background: none;
    justify-content: space-around;
  }

  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-flex {
    flex-wrap: wrap;
  }

  .footer-link {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1150px) {
  .rrss-container,
  .contact-container {
    width: 50%;
    margin: 1.5rem auto;
    justify-content: space-between;
  }

  .contact-container {
    justify-content: center;
  }

  .link-container {
    width: 50%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }

  .footer-container div:nth-of-type(1) {
    order: 2;
  }

  .footer-container div:nth-of-type(2) {
    order: 1;
  }

  .link-container {
    display: flex;
    width: 60%;
    background: none;
    justify-content: space-around;
  }
  .footer-flex {
    flex-wrap: wrap;
  }

  .footer-link {
    margin-bottom: 1rem;
  }
}
