/* stylelint-disable indentation */

/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #012bb3;
  --secondary-color: #c93042;
  --terciary-color: #882f68;
  --cute-color: #6277bb;
  --placeholder-gray: #ccc;
  --subtitle-color: #405161;
  --action-color: #284ab6;
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  padding: 1rem;
}

.footer-container {
  background-color: var(--action-color);
}

.link-container {
  background-color: var(--action-color);
  border-radius: 8px;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-flex a {
  padding-left: 1rem;
}

.footer-title {
  color: #fff;
  font-family: var(--title-font);
  margin-left: 1rem;
}

.footer-rights {
  font-family: var(--text-font);
  color: #fff;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 14px;
}

.icon-flex {
  display: flex;
  justify-content: center;
}

.footer-list {
  list-style: none;
  text-align: center;
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}

.footer-link a {
  color: #fff;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.75rem;
}

.footer-flex a img {
  width: 25px;
  height: 25px;
}

.rrss-icon {
  width: 5rem;
  font-size: 2rem;
}

/* Media query */

@media (min-width: 600px) {
  .icon-flex {
    display: block;
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .icon-flex {
    display: flex;
  }

  .link-container {
    max-width: 60%;
  }
}
