/*CSS DE LA LANDING PAGE */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
header {
  height: auto;
  width: 100%;
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  height: 80px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.171);
  overflow: hidden;
  z-index: 10;
}
.logo {
  height: 70%;
}
.menu-item {
  margin: 0 1rem;
  font-weight: 600;
  transition: 0, 5;
  color: #000;
}
.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu-item:hover {
  border-bottom: 3px solid #012bb3;
  transition: 0.2s;
}
.login {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #012bb3;
}
.login:hover {
  color: #fff;
  background-color: #012bb3;
  transition: 0.2s;
}
.cta {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #012bb3;
  text-decoration: none;
}
.cta:hover {
  color: #fff;
  background-color: #012bb3;
  transition: 0.2s;
}
.cta:active {
  color: #fff;
  background-color: #012bb3;
  border: inset;
}

/*Search_Style*/
.barra_busqueda {
  margin: 25px;
  width: 525px;
  display: flex;
  background: none;
  align-content: flex-start;
  justify-content: flex-start;
  border: none;
  border-style: none;
}
.container-4 {
  width: 525px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.container-4 input#search {
  width: 525px;
  height: 50px;
  background: #fff;
  border: 1px solid rgba(161, 161, 161, 0.158);
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.container-4 input#search::-webkit-input-placeholder {
  color: #000;
}

.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.container-4 input#search:-ms-input-placeholder {
  color: #000;
}
.container-4 button.icon {
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  border: none;
  background: #012bb3;
  height: 50px;
  width: 50px;
  color: #fff;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover {
  background: white;
}

/*CABECERA*/
.hero-header {
  background-color: #012bb349;
}
.hero-body {
  max-width: 1700px !important;
  margin: auto;

}

.column-1 {
  color: #fff;
  padding: 150px 0px 0px 250px;
  line-height: 60px;
  font-weight: 700;
  font-family: "Nunito", Sans-serif;
  margin-bottom: 15px;

}
.column-1 .is-size-2{
  font-size: 0px;
}
.column-1 .sub-head {
  color: #fff
  line-height: 50px;
  font-size: 25px;
  font-weight: 100;
  font-family: "Nunito", Sans-serif;

}
.column-2 {
}
.form-1 {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  width: 50%;
  height: 100%;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.margenes-section {
  margin-top: 30px;
}

.contactanos {
  line-height: 60px;
}

.contact-item {
  list-style: armenian;
  margin-left: 40px;
}

.mapa-tenerife {
  width: 26rem;
  height: 15rem;
  margin-top: 18px;
}

/*boton saber mas landing page nuevo*/
.button.is-medium {
  color: white;
  background-color: #012bb3;
}

.button.is-medium:hover {
  color: black;
  background-color: white;
  border: 1px solid #012bb3;
}

.columna {
  background-color: #012bb3;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  border: 2px solid white;
  margin: 15px;
  padding: 20px;
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

.columna:hover {
  background-color: white;
  border: 2px dotted #012bb3;
  text-shadow: none;
  color: black;
  font-size: 27px;
}

.text-shadow {
  text-shadow: 2px 2px 3px black;
}

.animation-box {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.animation-box:hover {
  padding: 20px;
}

.prueba {
  margin: 30px 20px 50px 20px;
}

.fixed-box {
  margin-top: -70px;
}

.fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 50px;
  color: #012bb3;
}

.border-blue {
  border: 1px solid #012bb3;
}
