/* ESTILOS PAGINA CATEGORIA PRODUCTOS */

.container-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
}

.card-category {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-category {
  border-radius: 50%;
  max-width: 40%;
}

.text-category {
  text-align: center;
  font-weight: 900;
}

@media (min-width: 750px) {
  .card-category {
    max-width: 30%;
  }
}

@media (min-width: 900px) {
  .container-categories {
    flex-wrap: nowrap;
  }
}
