/* Variables */

:root {
  --main-color: #012bb3;
  --placeholder-gray: #cccaca;
}

/* General Styles */

body {
  font-family: "Helvetica";
}

/*Header_style*/
header {
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  transition: 0, 5;
  border-bottom: 1px solid rgba(129, 129, 129, 0.171);
  /* z-index: 200; */
  /* overflow: hidden; */
}

header a {
  text-decoration: none;
}

/* Logo Style */
.logo {
  width: 4%;
  padding-top: 7px;
}

/*Search bar Style*/
.search-bar {
  width: 400px;
}

.search-container {
  display: flex;
  border: 1px solid var(--placeholder-gray);
  border-radius: 25px;
  /* width: 400px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden; */
}

.search-container:hover {
  border: 2px solid var(--main-color);
}

.search-input {
  width: 400px;
  font-size: 14px;
  padding-left: 1rem;
  border: none;
  border-radius: 25px;
}

input:focus {
  outline: none;
}
/* .search-container input#search::-webkit-input-placeholder {
  color: #000;
}

.search-container input#search:-moz-placeholder {
  Firefox 18-
  color: #000;
}

.search-container input#search::-moz-placeholder {
  Firefox 19+
  color: #000;
}

.search-container input#search:-ms-input-placeholder {
  color: #000;
} */

.search-btn {
  /* -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px; */
  border-radius: 0px 25px 25px 0px;
  border: none;
  background: var(--main-color);
  height: 40px;
  width: 50px;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  /* -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease; */
  transition: all 0.55s ease;
}
.search-container:hover .search-btn,
.search-container:active .search-btn,
.search-container:focus .search-btn {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

/* Navbar Styles */

nav {
  display: flex;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu-item {
  padding: 0 1rem;
  font-weight: 600;
  transition: 0, 5;
  color: #000;
}

/* Button Styles */

.login-bar {
  display: flex;
}

.login-btn {
  padding: 10px 24px;
  border-radius: 30px;
  color: var(--main-color);
  transition: background-color 400ms;
  border: 2px solid var(--main-color);
  margin-right: 5px;
}

.login-btn:hover {
  color: #fff;
  background-color: var(--main-color);
}
.login-btn:active {
}
.signin-btn {
  padding: 10px 24px;
  border-radius: 30px;
  color: var(--main-color);
  transition: background-color 400ms;
  border: 2px solid var(--main-color);
}
.signin-btn:hover {
  color: #fff;
  background-color: var(--main-color);
}

.page {
  background-color: grey;
}

body {
  font-family: "Helvetica";
}

.button {
  font-family: "Helvetica";
  padding: 10px 24px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #000;
  transition: 0, 5;
  margin: auto;
}

.button:hover {
  color: #fff;
  background-color: #012bb3;
  border: 1px solid black;
}

.title {
  font-size: 40px;
}

.image {
  width: 500px;
  height: 500px;
  display: block;
  margin: 100px auto;
}

.producto {
  width: 200px;
  height: 150px;
}

.tile {
  display: block;
  margin: auto;
}

.columns {
  padding: 30px;
}

.navbar > .container {
  display: flex;
  justify-content: flex-end;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
}

p {
}

.text-product {
  text-align: left;
  font-size: 15px;
}

.verde {
  color: green;
  font-weight: bold;
}

.is-flex {
  justify-content: space-around;
  align-items: center;
}

.miniaturas {
  padding: 10px auto;
}

.miniaturas img {
  width: 19%;
}

.img-product {
  width: 295px;
  height: 230px;
}

.alinear-boton {
  margin-top: 110px;
  margin-left: 15px;
}

img {
  border-radius: 6px;
}

hr {
  background: #012bb370;
  border: 3px solid #012bb370;
  border-radius: 10px;
  width: 60rem;
  margin: auto;
}

.border-hero {
  border: 2px solid green;
}

.columns {
  margin: 0;
}

.heroe {
  height: 400px;
}

.border-icon {
  border: 2px solid pink;
}

.border-cards {
  border: 2px solid hotpink;
}

.border-caja {
  border: 2px solid blue;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.columns:last-child {
  margin-bottom: 0;
}

.border-social {
  border: 2px solid magenta;
}

.social-container {
  width: 70%;
  margin: 0 auto;
}

.column-button {
  justify-content: space-around;
  align-items: center;
}
