@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #012bb3;
  --placeholder-gray: #cccaca;
  --darker-gray: #5e5e5e;
  --text: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
/*Header_style*/
header {
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(129, 129, 129, 0.171);
  z-index: 10;
}

.logo-space {
  margin-top: 8px;
}

.logo {
  width: 4.5rem;
}

.link-box {
  display: flex;
  align-items: center;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu-item {
  margin: 0 1rem;
  font-weight: 600;
  transition: 0, 5;
  color: #000;
}

.menu-item:hover {
  border-bottom: 3px solid var(--main-color);
  transition: 0.2s;
}

.styless-btn {
  background: none;
  border: none;
  line-height: 2.5rem;
}

.sign-in-btn {
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  text-decoration: none;
}
.sign-in-btn:hover {
  color: #fff;
  background-color: var(--main-color);
  transition: 0.2s;
  text-decoration: none;
}
.register-btn {
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  text-decoration: none;
}
.register-btn:hover {
  color: #fff;
  background-color: var(--main-color);
  transition: 0.2s;
  text-decoration: none;
}
/* .register-btn:active {
  color: #fff;
  background-color: var(--main-color);
  border: inset;
} */

/*Search_Style*/
.barra_busqueda {
  margin: 25px;
  width: 525px;
  display: flex;
  background: none;
  align-content: flex-start;
  justify-content: flex-start;
  border: none;
  border-style: none;
}
.container-4 {
  width: 525px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.container-4 input#search {
  width: 525px;
  height: 50px;
  background: #fff;
  border: 1px solid rgba(161, 161, 161, 0.158);
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.container-4 input#search::-webkit-input-placeholder {
  color: #000;
}

.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.container-4 input#search:-ms-input-placeholder {
  color: #000;
}
.container-4 button.icon {
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  border: none;
  background: #012bb3;
  height: 50px;
  width: 50px;
  color: #fff;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover {
  background: white;
}

/* Copiar hast aqui para navigation bar */

/*Hero Section*/

.hero-left {
  text-align: left;
  width: 50%;
  margin-left: 3rem;
  font-family: var(--text);
  letter-spacing: 0.5px;
}

.hero-title {
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
}

.hero-text {
  font-size: 1.175rem;
  color: #fff;
  margin-top: 20px;
}

.block_article {
  background-size: cover;
  justify-content: center;
  text-align: left;
}

/*Eslogan cabecera*/
.slogan-banner {
  font-size: 1em;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.slogan-text {
  color: var(--darker-gray);
}
.slogan-title {
  font-size: 30px;
}
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
}
.category-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.category-container i {
  font-size: 2.5rem;
}

.icon-text {
  font-size: 18px;
  font-family: var(--text);
  margin-top: 16px;
}

hr {
  background: #012bb3b3;
  border: 2.5px solid #012bb3b3;
  border-radius: 25px;
  width: 350px;
  margin: 30px auto;
  padding: 0px 7%;
}

/*SEGUNDO BANNER*/
.hero.has-background {
  margin-top: 80px;
  position: relative;
  overflow: hidden;
  background-color: #012bb3b3;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

.container.has-text-right h1 {
  color: #fff;
}
.container.has-text-right h3 {
  color: #fff;
}
.border-hero-1 {
  border: none;
}

.border-hero-2 {
  border: 2px solid green;
}

.columns {
  margin: 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.columns:last-child {
  margin-bottom: 0;
}

.heroe {
  height: 400px;
}

.values-container {
  margin: 40px 20%;
  text-align: center;
}

.border-cards {
  border: 2px solid var(--placeholder-gray);
  box-shadow: 1px 1px 5px var(--placeholder-gray);
  border-radius: 40px;
  padding: 15px;
}

.border-cards + .border-cards {
  margin-left: 20px;
}

.cards-title {
  font-family: var(--text);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.product-container {
  margin: 30px 10%;
}

.product-card {
  box-shadow: 0px 0px 8px var(--placeholder-gray);
  padding-bottom: 5px;
}

.has-text-left {
  font-size: 14px;
  margin: 8px;
}

.green {
  color: green;
  font-family: var(--text);
}

.column-button {
  justify-content: space-around;
  align-items: center;
}

/* Estilos del footer */

.footer-link {
  color: #fff;
  font-size: 18px;
  font-family: var(--text);
  list-style: none;
}

.footer-copy {
  margin: 10px;
  color: #fff;
}

.social-title {
  color: white;
  font-size: 18px;
  font-family: var(--text);
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-icon {
  color: #fff;
  font-size: 32px;
}
